<html>
<head>
    <title>Todo List</title>
    <!--<script src="https://code.jquery.com/jquery-.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>-->
    <!-- public dir is served as static files with the middleware-->
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
<h1>Todo List</h1>
<h2>Login</h2>
<div id="login">
    <h3>Login</h3>
    <a href="/register">register</a>
    <!-- action is where to post /login -->
    <form id="login_form" action="login" method="post">
        <!-- method defined here as request is done from the server -->
        <input type="text" name="username" placeholder="username" required />
        <input type="password" name="password" placeholder="password" required />
        <button id="login_button" type="submit">login</button>
    </form>
    <div>
        <% if(error){ %>
        <h1><%= error %></h1>
        <% } else{ %>
        <h1>bar</h1>
        <% } %>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
<script src="/main.js"></script>
</body>
</html>