<html>
<head>
    <title>Todo List</title>
    <!--<script src="https://code.jquery.com/jquery-.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>-->
    <!-- public dir is served as static files with the middleware-->
    <link rel="stylesheet" href="/assets/styles.css" type="text/css">
</head>
<body>
<h1>Todo List</h1>
<h2>Register</h2>
<div id="register">
    <h3>Register</h3>
    <a href="/login">Login</a>
    <form id="register_form" action="post">
        <input type="text" name="username" placeholder="username" required />
        <input type="password" name="password" placeholder="password" required />
        <button id="register_button" type="submit">register</button>
    </form>
</div>
<script
        src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
<script src="/main.js"></script>
</body>
</html>